type bluetoothd, domain;
type bluetoothd_exec, exec_type, file_type;
permissive bluetoothd;

# Start bluetoothd from init
init_daemon_domain(bluetoothd)
unconfined_domain(bluetoothd)

# TODO: verify this works for logwrapper
domain_auto_trans(init, bluetoothd_exec, bluetoothd)
